# stop lombok from looking at parent directories for more configuration files
config.stopBubbling = true

# No need for test coverage on Lombok generated code with JaCoCo
lombok.addLombokGeneratedAnnotation = true

# lombok.accessors.chain = true
# lombok.anyConstructor.addConstructorProperties = true
# lombok.fieldDefaults.defaultPrivate = true