<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>central</id>
            <username>HEL0MCwN</username>
            <password>h3QnqdcJ9IWzF9rr0Ol+XAf+rbNq2PV6EstEcMhEdFsf</password>
        </server>
    </servers>
    <profiles>
    <profile>
      <id>central</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg</gpg.executable>
        <gpg.passphrase>D8B7A06A4302FA15C04C92D102B5AB3307B81B3F</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
</settings>    